<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
    <add name="NombreEntorno;nombre1ConexionEntorno1" connectionString="data source=ConexionBBDD;initial catalog=BBDD;persist security info=True;user id=usuario;password=contraseña;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="NombreEntorno;nombre2ConexionEntorno1" connectionString="data source=ConexionBBDD;initial catalog=BBDD;persist security info=True;user id=usuario;password=contraseña;MultipleActiveResultSets=True;App=EntityFramework" />
    
    <add name="NombreEntorno2;nombre1ConexionEntorno2" connectionString="data source=ConexionBBDD;initial catalog=BBDD;persist security info=True;user id=eskpe;password=contraseña;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="NombreEntorno2;nombre2ConexionEntorno2" connectionString="data source=ConexionBBDD;initial catalog=BBDD;persist security info=True;user id=usuario;password=contraseña;MultipleActiveResultSets=True;App=EntityFramework" />
 
  </connectionStrings>
  
</configuration>
